.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  background-color: #d8d8d8;
}

body {
  background-color: #d8d8d8;
}

.App-link {
  color: #61dafb;
}

.m-t-10 {
  margin-top: 10px;
}
.font-14 {
  font-size: 14px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.ml-auto,

.mx-auto {
  margin-left: auto !important;
  margin-top: 60px; }

.p-10 {
  padding: 10px;
}

.p-l-10{
  padding-left: 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
